@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
   /* font-family: 'Press Start 2P', sans-serif; */
  color: #131313; 
  background-color: #eeeeee; 
  
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  background: url(https://image.winudf.com/v2/image1/Y29tLmFzaGZhcW1hbGlrLmd1ZXNzZ2FtZV9zY3JlZW5fMF8xNTQyNzc5ODAzXzA3OA/screen-0.jpg?fakeurl=1&type=.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #131313;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: rgba(225, 225, 225, 0.83);
  border-radius: 5px;
  color: #333;
  font-size: 6rem;
  font-weight: 700;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  
}



.guess {
  background: none;
  border: 2px solid #7303fc;
  border-radius: 5px;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2.5rem;
  font-family: inherit;
  border-radius: 5px;
  padding: 2rem 3rem;
  cursor: pointer;
}


.btn:hover {
  background-color: #ccc;
}

 .again {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #edd81a
} 
.check {
  background-color: #6ae60b;
}
.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
